body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keyboard-container {
  background: #ccc;
  width: max-content;
  padding: 0.35rem 2rem;
  border-radius: 0.25em;
  box-shadow: 0 1rem 25px -10px #888;
  
  /*  position keyboard in the middle bottom of screen  */
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.key-row {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.key-row + .key-row {
  margin-top: 0.25rem;
}

button {
  font-size: inherit;
  font-family: Tahoma;
  width: 3rem;
  height: 3rem;
  border: none;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #666;
  color: white;
} 

/* UTILITY CLASSES */
.btn-large {
  width: max-content;
}

.btn-full {
  min-width: 5rem;
  width: 85%;
}


.login-form {
  width: 350px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border: 1px solid #bbb;
  border-radius: 1rem;
  gap: 0.25rem;
}

.login-form input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  width: 100%;
}